<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- http://getbootstrap.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- app's own CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Search</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('load') }}">Load site</a></li>
          <li><a href="{{ url_for('logout') }}">logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <p id="getApplicationUrl">{{ absolute_path_to_app }}{{ url_for("do_search") }}?</p>
      <div class="radio">
        Choose search input position:
              <label class="vertical-position"><input type="radio" name="y-pos" checked="checked">top</label>
              <label class="vertical-position"><input type="radio" name="y-pos">bottom</label>
              <label class="horisontal-position"><input type="radio" name="x-pos">left</label>
              <label class="horisontal-position"><input type="radio" name="x-pos" checked="checked">right</label>
      </div>
          {% for site in sites %}
            <div class="radio">
              <label class="sites"><input type="radio" name="optradio">{{ site }}</label>
            </div>
          {% endfor %}
    </div>
    <div class="container">
<!-- generated code -->
    <div id="generated-code-container" class="generated-code-invisible">
      <div id="generated-code-itself">
        <code>
          <pre>
          &lt;div id=&quot;search-input&quot;&gt;
            &lt;style&gt;
              #search-input{
                position: absolute;

<!-- here we put variable's values -->
                <span id="search-input-vertical-position">top</span>: 0px;
                <span id="search-input-horisontal-position">right</span>: 0px;
<!-- -->

              }
              .search-invisible {
                display: none;
              }
              #search-iframe-window {
                position: fixed;
                z-index: 999;
                padding: 10px;
                width: 90%;
                height: 90%;
                <!--background-color: rgba(230, 232, 233, 0.95);-->
              }
              #search-iframe-container{
                position: absolute;
                top: 10%;
                width: 80%;
                height: 80%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                <!--background-color: rgba(230, 232, 233);-->
              }
              #search-iframe{
                width: 100%;
                height: 100%;
                box-shadow:none;
                border-radius: 0px;
                border: 1px solid black;
                outline: none;
              }
              #search-close-button {
                position: absolute;
                top: 2%;
                right: 2%;
                border-radius: 50%;
                border-width: 1px;
                border-color: rgba(0, 0, 0, 0);
                border-style: solid;
              }
              #search-close-button:hover {
                border-color: rgba(0, 0, 0, 1);
                background-color: silver;
              }
            &lt;/style&gt;

            &lt;form id=&quot;search-form&quot;&gt;
              &lt;input type=&quot;text&quot; name=&quot;query&quot; id=&quot;search-query&quot; placeholder=&quot;Search...&quot;&gt;
              &lt;input type=&quot;submit&quot; id=&quot;search-submit&quot; value=&quot;Search&quot;&gt;
            &lt;/form&gt;

          &lt;/div&gt;

          &lt;div id=&quot;search-iframe-window&quot; class=&quot;search-invisible&quot;&gt;
            <!--&lt;img src=&quot;https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffreevector.co%2Fwp-content%2Fuploads%2F2013%2F03%2F8934-close-button1.png&amp;f=1&quot; height=&quot;16pt&quot; width=&quot;16pt&quot; id=&quot;search-close-button&quot; onclick=&quot;searchOnClickCloseButton()&quot; /&gt;-->
            &lt;div id=&quot;search-iframe-container&quot;&gt;
              &lt;iframe id=&quot;search-iframe&quot; src=&quot;&quot;&gt;&lt;/iframe&gt;
            &lt;/div&gt;
          &lt;/div&gt;

          &lt;script&gt;
            function searchSearch() {
              var searchWindow = document.getElementById('search-iframe-window');
              searchWindow.className = '';

<!-- here we put variable's values -->
              var searchServer = '<span id="applicationUrl"></span>';
              var searchSite = '&amp;s=' + '<span id="site"></span>';
<!--  -->
              var searchQuery = 'q=' + document.getElementById('search-query').value;
              var searchIframe = document.getElementById('search-iframe');
              searchIframe.src = encodeURI(searchServer + searchQuery + searchSite);
              //console.log(searchIframe.src);
            };

            document.getElementById('search-form').addEventListener('submit', function(evt){
              evt.preventDefault();
              searchSearch();
              return false;
            });
            function searchOnClickCloseButton() {
              var searchWindow = document.getElementById('search-iframe-window');
              searchWindow.className = 'search-invisible';
            };
          &lt;/script&gt;
          </pre>
        </code>
      </div>
    </div>


    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>
    </body>
</html>