{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Load site</title>

        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- app's own CSS -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <form class="form form-horizontal" method="post" role="form">
              {{ form.hidden_tag() }}
              {{ wtf.form_errors(form, hiddens="only") }}
              {{ wtf.form_field(form.url) }}
              {{ wtf.form_field(form.depth) }}
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>
