<style>
  #results-container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  #results-list {
    list-style: none;
    padding: 0;
  }
  #results-list-item{
    padding: 0;
  }
  .results-result-link{
    text-decoration: none;
    color: inherit;
  }
  .results-result-domain {
    display: block;
    margin-top: 1.5em;
    font-weight: bold;
  }
  .results-result-text {
    font-size: 0.9rem;
  }
  .results-query {
    font-weight: bold;
  }
</style>
<div id="results-container">
  <ul id="results-list">
    {% if not results %}
    <p>Nothing found</p>
    {% endif %}
    {% for result in results %}
    <li class="results-list-item">
      <a href="{{ result['link'] }}" class="results-result-link" target="_blank">
        <span class="results-result-domain">{{  result["link"]  }}</span>
        <span class="results-result-text">...{{  result["left_text"]  }}<span class="results-query">{{ result["query"] }}</span>{{  result["right_text"]  }}...</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>