

{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

    <!-- http://getbootstrap.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- app's own CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>

{% block main %}
<div class="container">
  <h1>Sign Up</h1>
  <form method="POST" class="form form-horizontal" action="{{ url_for('signup') }}">

    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.invitation_key) }}
    <input type="submit" value="Sign Up">
  </form>
  <div>
    Or <a href="{{ url_for('login') }}">Log in</a>
  </div>
</div>
{% endblock %}